.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.content{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 50vw;
    height: 90vh;
    gap: 2rem;
}

.info{
    background: #efefe9;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 15vw;
    height: 60vh;
    background: #efefe9;
}

.cars_info{
    background-color: #eaea60;
    border-bottom: 0.5px solid #6c6c2a;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.stats{
    background: #efefe9;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 30vw;
    height: 90vh;
}

label{
    color: black;
    margin-top: 1rem;
}

table, th, td{
    margin-top: 3rem ;
    border: 1px solid black;
    width: 20vw;
    text-align: center;
}

th {
    position: sticky;
    background-color: #eaea60;
    top: 0;
}

tr:hover {background-color: #babab5;}

table {

    display: block;
    max-height: 65vh;
    overflow-y: scroll;
}

i{
    margin-left: 1rem;
    margin-right: 1rem;
}



.expensesDetailsSection{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2em;
}

.addInputExpense{
    background: transparent;
    border: none;
    border-bottom: 0.5px solid #6c6c2a;
    width: 30%;
    text-align: center;
}

@media (max-width: 600px){
    body{
        font-size: 7px;
    }
    .addBtn{
        font-size: 0.7rem;
    }
    table, th, td{
        font-size: 1.1rem;
    }
    table{
        min-width: 35vw;
    }
    .info{
        min-height: 23vh;
        min-width: 20vw;
    }
    .stats{
        min-width: 40vw;
    }
}

@media (min-width: 600px){
    body{
        font-size: 10px;
    }
    .addBtn{
        font-size: 0.7rem;
    }
    table, th, td{
        font-size: 1.1rem;
    }
    table{
        min-width: 35vw;
    }
    .info{
        min-height: 23vh;
        min-width: 20vw;
    }
    .stats{
        min-width: 40vw;
    }
}


@media (min-width: 996px){
    body{
        font-size: 12px;
    }
    table{
        min-width: 25vw;
    }
    .stats{
        min-width: 30vw;
    }
    .addBtn{
        font-size: 0.9rem;
    }
    table, th, td{
        font-size: 1.2rem;
    }
    .info{
        min-height: 55vh;
        min-width: 15vw;
    }
}


@media (min-width: 1250px){
    .info{
        min-height: 65vh;
    }
    body{
        font-size: 12px;
    }
    .addBtn{
        font-size: 1rem;
    }
}

@media (min-width: 1440px){
    .info{
        min-height: 70vh;
    }
    body{
        font-size: 16px;
    }
    .addBtn{
        font-size: 1rem;
    }
}


@media (min-width: 1920px){
    .info{

    }
}